<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div id="wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/navigation') %>

      <main>
        <%- include('../partials/messages') %>
        
        <% if (typeof htmlData !== 'undefined' && htmlData) { %>
          <%- htmlData %>
        <% } else { %>
          <div class="error-container">
            <h2>Vehicle Not Found</h2>
            <p>Sorry, the requested vehicle could not be found.</p>
            <a href="/inv" class="btn">Browse Inventory</a>
          </div>
        <% } %>
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>